In [16]:
import pandas as pd
from tqdm import tqdm
import random

## Behaviors Parse

In [21]:

source = "/workspace/nabang1010/LBA_NLP/Recommendation_System/DATA/dev_small/behaviors.tsv"
behaviors = pd.read_table(source,
                              header=None,
                              names=["impression_id", "user_id", "time", "clicked_news", "impressions"])
    
behaviors.clicked_news.fillna(' ', inplace=True)
behaviors.impressions = behaviors.impressions.str.split()
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,U77536,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,U56193,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,U16799,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,U8786,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,U68182,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [22]:
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,U77536,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,U56193,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,U16799,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,U8786,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,U68182,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [23]:
user2int = {}
for row in behaviors.itertuples(index=False):
    if row.user_id not in user2int:
        user2int[row.user_id] = len(user2int) + 1
pd.DataFrame(user2int.items(), columns=['user', 'int'])
print(f'Please modify `num_users` in `src/config.py` into 1 + {len(user2int)}')
for row in behaviors.itertuples():
    behaviors.at[row.Index, 'user_id'] = user2int[row.user_id]
behaviors

Please modify `num_users` in `src/config.py` into 1 + 50000

,impression_id,user_id,time,clicked_news,impressions
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N28682-0, N48740-0, N31958-1, N34130-0, N6916..."
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N20036-0, N23513-1, N32536-0, N46976-0, N3521..."
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N36779-0, N62365-0, N58098-0, N5472-0, N13408..."
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N6950-0, N60215-0, N6074-0, N11930-0, N6916-0..."
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N23513-0, N49285-0, N23355-0, N19990..."
...,...,...,...,...,...
73147,73148,49997,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[N496-0, N35159-0, N59856-0, N13270-0, N47213-..."
73148,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N49285-0, N31958-0, N55237-0, N42844-0, N2986..."
73149,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N7043-0, N512-0, N60215-1, N45057-0, N496-0, ..."
73150,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N23692-0, N19990-0, N20187-0, N5940-0, N13408..."
73151,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N29862-0, N5472-0, N21679-1, N6400-0, N53572-..."

In [20]:
negative_sampling_ratio = 2
for row in tqdm(behaviors.itertuples(), desc="Balancing data"):
    positive = iter([x for x in row.impressions if x.endswith('1')])  # lấy các impressions kết thúc bằng 1 cho vào vòng lặp
    negative = [x for x in row.impressions if x.endswith('0')] # lấy các impressions kết thúc bằng 0 cho vào vòng lặp
    
    random.shuffle(negative) # xáo trộn các phần tử trong negative
    negative = iter(negative) # lấy các phần tử trong negative cho vào vòng lặp

    pairs = []
    try:                                                         #                                                                   
        while True:                                              #                      
            pair = [next(positive)]                              #                                      
            for _ in range(negative_sampling_ratio):             #                                                       
                pair.append(next(negative))                      # chỉ lấy 1 phần tử positive và 2 phần tử negative ngẫu nhiên                                             
            pairs.append(pair)                                   #                                 
    except StopIteration:                                        #                            
        pass                                                     #          
    behaviors.at[row.Index, 'impressions'] = pairs               #                                                     
    # break

Balancing data: 73152it [00:04, 16997.52it/s]

In [16]:
behaviors

,impression_id,user_id,time,clicked_news,impressions
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[[N31958-1, N49285-0, N11930-0]]"
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[[N23513-1, N32536-0, N46976-0]]"
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[[N5940-1, N55237-0, N19990-0]]"
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[[N15347-1, N6400-0, N52492-0]]"
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[[N5940-1, N30290-0, N20036-0], [N31958-1, N49..."
...,...,...,...,...,...
73147,73148,49997,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,"[[N38324-1, N7618-0, N16918-0], [N6916-1, N507..."
73148,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[[N11390-1, N29091-0, N34130-0]]"
73149,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[[N60215-1, N60762-0, N37055-0], [N54562-1, N2..."
73150,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[[N20036-1, N58098-0, N29393-0]]"
73151,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[[N21679-1, N29862-0, N6400-0]]"

In [17]:
behaviors = behaviors.explode('impressions').dropna(
        subset=["impressions"]).reset_index(drop=True)

behaviors[['candidate_news', 'clicked']] = pd.DataFrame(
    behaviors.impressions.map(
        lambda x: (' '.join([e.split('-')[0] for e in x]), ' '.join([e.split('-')[1] for e in x]))).tolist())
behaviors
# behaviors.to_csv(target, sep='\t', index=False, columns=['user', 'clicked_news', 'candidate_news', 'clicked'])

,impression_id,user_id,time,clicked_news,impressions,candidate_news,clicked
0,1,1,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,"[N31958-1, N49285-0, N11930-0]",N31958 N49285 N11930,1 0 0
1,2,2,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,"[N23513-1, N32536-0, N46976-0]",N23513 N32536 N46976,1 0 0
2,3,3,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,"[N5940-1, N55237-0, N19990-0]",N5940 N55237 N19990,1 0 0
3,4,4,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,"[N15347-1, N6400-0, N52492-0]",N15347 N6400 N52492,1 0 0
4,5,5,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,"[N5940-1, N30290-0, N20036-0]",N5940 N30290 N20036,1 0 0
...,...,...,...,...,...,...,...
107270,73149,49998,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,"[N11390-1, N29091-0, N34130-0]",N11390 N29091 N34130,1 0 0
107271,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N60215-1, N60762-0, N37055-0]",N60215 N60762 N37055,1 0 0
107272,73150,49999,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,"[N54562-1, N28716-0, N22803-0]",N54562 N28716 N22803,1 0 0
107273,73151,50000,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,"[N20036-1, N58098-0, N29393-0]",N20036 N58098 N29393,1 0 0
107274,73152,48662,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,"[N21679-1, N29862-0, N6400-0]",N21679 N29862 N6400,1 0 0

----
## Test config yaml

In [26]:
# read yaml config file
import yaml
with open('config.yaml', 'r') as f:
    config = yaml.load(f, Loader=yaml.FullLoader)
config

{'BASE_CONFIG': {'num_epochs': 2,
  'num_batches_show_loss': 100,
  'num_batches_validate': 1000,
  'batch_size': 128,
  'learning_rate': 0.0001,
  'num_workers': 4,
  'num_clicked_news_a_user': 50,
  'num_words_title': 20,
  'num_words_abstract': 50,
  'word_freq_threshold': 1,
  'entity_freq_threshold': 2,
  'entity_confidence_threshold': 0.5,
  'negative_sampling_ratio': 2,
  'dropout_probability': 0.2,
  'num_words': '1 + 70974',
  'num_categories': '1 + 274',
  'num_entities': '1 + 12957',
  'num_users': '1 + 50000',
  'word_embedding_dim': 300,
  'category_embedding_dim': 100,
  'entity_embedding_dim': 100,
  'query_vector_dim': 200},
 'NRMS_CONFIG': {'dataset_attributes': {'news': ['title'], 'record': []},
  'num_attention_heads': 15}}

In [25]:
config['BASE_CONFIG']['num_epochs']

2

-----

## News Parse

In [1]:
import csv
import pandas as pd
from nltk.tokenize import word_tokenize
import json

In [3]:
source_news = "/workspace/nabang1010/LBA_NLP/Recommendation_System/DATA/dev_small/news.tsv"
df_news = pd.read_table(
        source_news,
        header=None,
        usecols=[0, 1, 2, 3, 4, 6, 7],
        quoting=csv.QUOTE_NONE,
        names=[
            "id",
            "category",
            "subcategory",
            "title",
            "abstract",
            "title_entities",
            "abstract_entities",
        ],
    )


df_news.title_entities.fillna("[]", inplace=True)

df_news.abstract_entities.fillna("[]", inplace=True)

df_news.fillna(" ", inplace=True)


df_news

,id,category,subcategory,title,abstract,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...","[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N18955,health,medical,Dispose of unwanted prescription drugs during ...,,"[{""Label"": ""Drug Enforcement Administration"", ...",[]
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
...,...,...,...,...,...,...,...
42411,N63550,lifestyle,lifestyleroyals,Why Kate & Meghan Were on Different Balconies ...,There's no scandal here. It's all about the or...,"[{""Label"": ""Meghan, Duchess of Sussex"", ""Type""...",[]
42412,N30345,entertainment,entertainment-celebrity,See the stars at the 2019 Baby2Baby gala,Stars like Chrissy Teigen and Kate Hudson supp...,[],"[{""Label"": ""Kate Hudson"", ""Type"": ""P"", ""Wikida..."
42413,N30135,news,newsgoodnews,Tennessee judge holds lawyer's baby as he swea...,Tennessee Court of Appeals Judge Richard Dinki...,"[{""Label"": ""Tennessee"", ""Type"": ""G"", ""Wikidata...","[{""Label"": ""Tennessee Court of Appeals"", ""Type..."
42414,N44276,autos,autossports,Best Sports Car Deals for October,,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]
42415,N39563,sports,more_sports,Shall we dance: Sports stars shake their leg,,[],[]

In [4]:
category2int = {}
word2int = {}
word2freq = {}
entity2int = {}
entity2freq = {}

In [5]:
for row in df_news.itertuples(index=False):
    
    # gộp cả category và subcategory vào category2int
    
    if row.category not in category2int:
        category2int[row.category] = len(category2int) + 1
    if row.subcategory not in category2int:
        category2int[row.subcategory] = len(category2int) + 1
    
    #----- đếm số lần xuất hiện của các từ trong title và abstract
    for w in word_tokenize(row.title.lower()):  #tokenize title đã được chuyển thành chữ thường
        if w not in word2freq:
            word2freq[w] = 1
        else:
            word2freq[w] += 1

    for w in word_tokenize(row.abstract.lower()): #tokenize abstract đã được chuyển thành chữ thường
        if w not in word2freq:
            word2freq[w] = 1
        else:
            word2freq[w] += 1
    
    for e in json.loads(row.title_entities):
        if e not in entity2freq:
            entity2freq[e] =

In [14]:
category2int

{'lifestyle': 1,
 'lifestyleroyals': 2,
 'health': 3,
 'medical': 4,
 'news': 5,
 'newsworld': 6,
 'voices': 7,
 'sports': 8,
 'football_nfl': 9,
 'newsscienceandtechnology': 10,
 'weather': 11,
 'weathertopstories': 12,
 'weightloss': 13,
 'entertainment': 14,
 'gaming': 15,
 'foodanddrink': 16,
 'recipes': 17,
 'nutrition': 18,
 'autos': 19,
 'autosenthusiasts': 20,
 'wellness': 21,
 'health-news': 22,
 'celebrity': 23,
 'travel': 24,
 'travelarticle': 25,
 'autossuvs': 26,
 'newspolitics': 27,
 'more_sports': 28,
 'traveltripideas': 29,
 'video': 30,
 'animals': 31,
 'autosnews': 32,
 'newsbusiness': 33,
 'golf': 34,
 'newstrends': 35,
 'lifestylepetsanimals': 36,
 'football_ncaa': 37,
 'tv': 38,
 'tv-gallery': 39,
 'basketball_nba': 40,
 'shop-all': 41,
 'newsphotos': 42,
 'lifestylemindandsoul': 43,
 'basketball_ncaa': 44,
 'finance': 45,
 'finance-real-estate': 46,
 'quickandeasy': 47,
 'tv-celebrity': 48,
 'lifestyleparenting': 49,
 'travelnews': 50,
 'movies': 51,
 'movies-gallery': 52,
 'lifestylebuzz': 53,
 'tipsandtricks': 54,
 'autosbuying': 55,
 'shop-apparel': 56,
 'autostrucks': 57,
 'lifestyledidyouknow': 58,
 'restaurantsandnews': 59,
 'finance-saving-investing': 60,
 'viral': 61,
 'lifestylehoroscope': 62,
 'finance-taxes': 63,
 'lifestyleshopping': 64,
 'newsopinion': 65,
 'finance-companies': 66,
 'newscrime': 67,
 'finance-savemoney': 68,
 'mentalhealth': 69,
 'newsus': 70,
 'lifestylesmartliving': 71,
 'fitness': 72,
 'autosclassics': 73,
 'autosluxury': 74,
 'baseball_mlb': 75,
 'newsgoodnews': 76,
 'retirement': 77,
 'lifestylehomeandgarden': 78,
 'ads-lung-health': 79,
 'finance-top-stocks': 80,
 'soccer_epl': 81,
 'personalfinance': 82,
 'music': 83,
 'musicnews': 84,
 'lifestyledecor': 85,
 'causes': 86,
 'newsoffbeat': 87,
 'tennis': 88,
 'traveltips': 89,
 'videos': 90,
 'lifestylepets': 91,
 'weight-loss': 92,
 'finance-career': 93,
 'lifestylecareer': 94,
 'markets': 95,
 'shop-holidays': 96,
 'lifestylebeauty': 97,
 'movievideo': 98,
 'finance-retirement': 99,
 'mma': 100,
 'finance-career-education': 101,
 'lifestylefashion': 102,
 'foodnews': 103,
 'racing': 104,
 'finance-billstopay': 105,
 'movies-celebrity': 106,
 'lifestylecelebstyle': 107,
 'newsweather': 108,
 'popculture': 109,
 'tvnews': 110,
 'beverages': 111,
 'lifestylefamilyandrelationships': 112,
 'music-gallery': 113,
 'entertainment-celebrity': 114,
 'soccer': 115,
 'musicvideos': 116,
 'healthagingwell': 117,
 'lifestylelovesex': 118,
 'causes-green-living': 119,
 'autosresearchguides': 120,
 'football_nfl_videos': 121,
 'advice': 122,
 'factcheck': 123,
 'outdoors': 124,
 'music-celebrity': 125,
 'baseball_mlb_videos': 126,
 'lifestylediy': 127,
 'science': 128,
 'movienews': 129,
 'entertainment-books': 130,
 'travel-videos': 131,
 'football_ncaa_videos': 132,
 'shop-home-goods': 133,
 'newsfactcheck': 134,
 'financenews': 135,
 'autossports': 136,
 'finance-credit': 137,
 'travel-points-rewards': 138,
 'humor': 139,
 'lifestylecleaningandorganizing': 140,
 'autospassenger': 141,
 'lifestyleweddings': 142,
 'autossema': 143,
 'autosmotorcycles': 144,
 'kids': 145,
 'fun': 146,
 'icehockey_nhl': 147,
 'peopleandplaces': 148,
 'foodrecipes': 149,
 'lifestylevideo': 150,
 'holidays': 151,
 'seasonal': 152,
 'music-awards': 153,
 'hollywood': 154,
 'autosownership': 155,
 'finance-small-business': 156,
 'tv-recaps': 157,
 'finance-video': 158,
 'boxing-mma': 159,
 'tvvideos': 160,
 'autosreview': 161,
 'empowering-the-planet': 162,
 'finance-technology': 163,
 'finance-home-loans': 164,
 'lifestylefamily': 165,
 'autosvideonew': 166,
 'boxing': 167,
 'games': 168,
 'causes-food-insecurity': 169,
 'autoscartech': 170,
 'movies-oscars': 171,
 'technologyinvesting': 172,
 'autoshybrids': 173,
 'lifestylerelationships': 174,
 'causes-animals': 175,
 'celebritynews': 176,
 'autostokyo': 177,
 'elections-2020-us': 178,
 'finance-insurance': 179,
 'pregnancyparenting': 180,
 'healthnews': 181,
 'causes-poverty': 182,
 'music-grammys': 183,
 'lifestyleanimals': 184,
 'lifestyle-wedding': 185,
 'autosresearch': 186,
 'career-news': 187,
 'newsscience': 188,
 'basketball_ncaa_videos': 189,
 'autoscompact': 190,
 'lifestyle-news-feature': 191,
 'finance-education': 192,
 'finance-healthcare': 193,
 'shop-computers-electronics': 194,
 'awards': 195,
 'golfvideos': 196,
 'autosvans': 197,
 'autosvideos': 198,
 'sports_news': 199,
 'middleeast': 200,
 'middleeast-top-stories': 201,
 'causes-environment': 202,
 'lifestyletravel': 203,
 'cocktails': 204,
 'newstvmedia': 205,
 'travel-adventure-travel': 206,
 'photos': 207,
 'soccer_mls': 208,
 'ads-latingrammys': 209,
 'reviews': 210,
 'cookingschool': 211,
 'basketball_nba_videos': 212,
 'basketball_wnba': 213,
 'mmaufc': 214,
 'tv-reviews': 215,
 'narendramodi_opinion': 216,
 'lifestylemarriage': 217,
 'finance-homesandpropertysection': 218,
 'cooking': 219,
 'games-news': 220,
 'newsnational': 221,
 'movies-awards': 222,
 'people-places': 223,
 'awardstyle': 224,
 'company-news': 225,
 'tunedin': 226,
 'wines': 227,
 'newsworldpolitics': 228,
 'othersports': 229,
 'yearinoffbeatgoodnews': 230,
 'newsrealestate': 231,
 'lifestyleshoppinghomegarden': 232,
 'cma-awards': 233,
 'downtime': 234,
 'finance-mutual-funds': 235,
 'newsvideo': 236,
 'comedy': 237,
 'lifestylehoroscopefish': 238,
 'baseball': 239,
 'topnews': 240,
 'newsother': 241,
 'foodtips': 242,
 'tv-golden-globes': 243,
 'causes-disaster-relief': 244,
 'finance-auto-insurance': 245,
 'weatherfullscreenmaps': 246,
 'causes-military-appreciation': 247,
 'newsvideos': 248,
 'indepth': 249,
 'wonder': 250,
 'healthyliving': 251,
 'lifestylewhatshot': 252,
 'lifestylestyle': 253,
 'shop-books-movies-tv': 254,
 'health-cancer': 255,
 'finance-startinvesting': 256,
 'ustravel': 257,
 'newstechnology': 258,
 'relationships': 259,
 'internationaltravel': 260,
 'traveltrivia': 261,
 'cardio': 262,
 'newselection2020': 263,
 'tv-golden-globes-video': 264,
 'autosmidsize': 265,
 'autoslosangeles': 266,
 'celebhub': 267}

In [6]:
word2freq

{'the': 91782,
 'brands': 66,
 'queen': 140,
 'elizabeth': 284,
 ',': 67425,
 'prince': 256,
 'charles': 158,
 'and': 32593,
 'philip': 24,
 'swear': 7,
 'by': 5994,
 'shop': 178,
 'notebooks': 1,
 'jackets': 27,
 'more': 4181,
 'that': 11575,
 'royals': 82,
 'ca': 420,
 "n't": 4572,
 'live': 600,
 'without': 704,
 '.': 63729,
 'dispose': 7,
 'of': 37111,
 'unwanted': 14,
 'prescription': 40,
 'drugs': 107,
 'during': 1871,
 'dea': 32,
 "'s": 25316,
 'take': 1229,
 'back': 2192,
 'day': 1759,
 'cost': 232,
 'trump': 3894,
 'aid': 126,
 'freeze': 54,
 'in': 40082,
 'trenches': 5,
 'ukraine': 656,
 'war': 287,
 'lt.': 84,
 'ivan': 11,
 'molchanets': 1,
 'peeked': 2,
 'over': 3571,
 'a': 46506,
 'parapet': 1,
 'sand': 26,
 'bags': 61,
 'at': 12521,
 'front': 434,
 'line': 567,
 'next': 1226,
 'to': 46739,
 'him': 1667,
 'was': 11527,
 'an': 6495,
 'empty': 61,
 'helmet': 83,
 'propped': 2,
 'up': 4190,
 'trick': 100,
 'snipers': 6,
 'already': 457,
 'perforated': 1,
 'with': 13255,
 'multiple': 413,
 'holes': 56,
 'i': 3192,
 'nba': 454,
 'wife': 359,
 'here': 2693,
 'how': 2747,
 'it': 9628,
 'affected': 75,
 'my': 904,
 'mental': 102,
 'health': 759,
 'felt': 171,
 'like': 1785,
 'fraud': 104,
 'being': 1482,
 'did': 1390,
 'help': 1133,
 'fact': 175,
 'nearly': 643,
 'destroyed': 106,
 'me': 490,
 'get': 2167,
 'rid': 30,
 'skin': 82,
 'tags': 11,
 'according': 2279,
 'dermatologist': 6,
 'they': 4415,
 'seem': 145,
 'harmless': 12,
 'but': 4855,
 'there': 2231,
 'very': 554,
 'good': 944,
 'reason': 220,
 'you': 6104,
 'should': 1147,
 'ignore': 37,
 'them': 1217,
 'post': 662,
 'appeared': 477,
 'first': 3464,
 'on': 20396,
 'reader': 106,
 'digest': 107,
 'nfl': 1316,
 'be': 6142,
 'able': 273,
 'fine': 126,
 'players': 718,
 'for': 20751,
 'criticizing': 30,
 'officiating': 52,
 '?': 4373,
 'several': 731,
 'fines': 46,
 'came': 568,
 'down': 1772,
 'against': 2165,
 'this': 6499,
 'week': 3662,
 'bad': 359,
 'look': 1105,
 'league': 524,
 'record': 536,
 'your': 3212,
 'screen': 53,
 'windows': 75,
 'macos': 7,
 'ios': 36,
 'or': 2443,
 'android': 41,
 'easiest': 16,
 'way': 1121,
 'what': 3719,
 'happening': 84,
 'whichever': 2,
 'device': 51,
 "'re": 1346,
 'using': 316,
 'been': 3287,
 'orlando': 217,
 'hottest': 54,
 'october': 793,
 'ever': 518,
 'so': 1630,
 'far': 545,
 'cooler': 39,
 'temperatures': 191,
 'wo': 501,
 'chill': 27,
 'bones': 30,
 'halloween': 934,
 'unless': 54,
 'count': 97,
 'sweat': 16,
 'dripping': 3,
 'from': 9325,
 'armpits': 1,
 'guy': 185,
 'altered': 13,
 'his': 7902,
 'diet': 128,
 'training': 193,
 'drop': 160,
 '65': 65,
 'pounds': 243,
 'pack': 48,
 'muscle': 46,
 'brandon': 128,
 'reid': 88,
 'advice': 87,
 ':': 11284,
 '``': 7942,
 'do': 2069,
 'worry': 80,
 'other': 1358,
 'people': 2202,
 'think': 527,
 'even': 996,
 'smallest': 25,
 'fattest': 3,
 'gym': 62,
 'is': 13952,
 'lapping': 4,
 'home': 2728,
 'couch': 30,
 "''": 6831,
 'chile': 37,
 'three': 1654,
 'die': 101,
 'supermarket': 19,
 'fire': 2186,
 'amid': 337,
 'protests': 173,
 'have': 5569,
 'died': 789,
 'as': 8129,
 'angry': 73,
 'entered': 126,
 'their': 4150,
 'seventh': 58,
 'mayor': 430,
 'capital': 145,
 'city': 2611,
 'santiago': 21,
 'said': 5671,
 'sunday': 2025,
 'best': 1923,
 'ps5': 6,
 'games': 888,
 'top': 1739,
 'playstation': 15,
 '5': 1077,
 'titles': 41,
 'forward': 270,
 'every': 881,
 'confirmed': 286,
 'expected': 630,
 'game': 2825,
 'we': 2830,
 'wait': 139,
 'play': 969,
 'roasted': 24,
 'squash': 24,
 'panzanella': 2,
 'perfect': 299,
 'start': 844,
 'year': 2193,
 'christmas': 336,
 'dinner': 219,
 'introducing': 15,
 'balance': 53,
 'out': 4377,
 'sugar': 53,
 'cookie': 85,
 'obsession': 7,
 '50': 506,
 'foods': 179,
 'never': 655,
 'eat': 184,
 'experts': 217,
 'depressing': 5,
 'trying': 497,
 'make': 1690,
 'ram': 28,
 '3500': 7,
 'quick': 154,
 'viper': 6,
 'requires': 47,
 'some': 2398,
 'disassembly': 1,
 '2019': 1659,
 'new': 6206,
 'cummins': 6,
 'diesel': 20,
 'has': 6905,
 '1000': 19,
 'lb-ft': 3,
 'torque': 6,
 'put': 511,
 'work': 761,
 'drag': 22,
 'strip': 42,
 'rye': 6,
 'football': 1711,
 'wins': 318,
 'rendition': 3,
 'clobbers': 1,
 'harrison': 56,
 'after': 8028,
 'going': 902,
 'into': 3117,
 'halftime': 35,
 'tied': 133,
 'garnets': 1,
 'regrouped': 2,
 'made': 1353,
 'resounding': 7,
 'second-half': 18,
 'statement': 321,
 'instagram': 245,
 'filters': 4,
 'plastic': 85,
 'surgery-inspired': 1,
 'effects': 57,
 'could': 2229,
 'soon': 328,
 'disappear': 14,
 'effort': 217,
 'combat': 63,
 'negative': 41,
 'impacts': 22,
 'caused': 280,
 'social': 452,
 'media': 620,
 'company': 792,
 'announced': 794,
 'removing': 42,
 'all': 2691,
 'its': 2620,
 'give': 404,
 'surgery-like': 1,
 'effect': 121,
 'michigan': 819,
 'apple': 277,
 'recall': 69,
 '2,300': 10,
 'crates': 2,
 'contaminated': 22,
 'listeria': 10,
 'produce': 66,
 'recalled': 83,
 'cases': 136,
 'fresh': 128,
 'apples': 19,
 'kate': 151,
 'middleton': 87,
 'hairstyles': 5,
 'through': 1364,
 'years': 2035,
 'duchess': 70,
 'cambridge': 29,
 'knows': 115,
 'her': 4008,
 'around': 1732,
 'updo': 1,
 'stars': 336,
 'who': 4539,
 'got': 913,
 'fired': 340,
 'major': 545,
 'projects': 84,
 'celebs': 63,
 'boot': 10,
 'movies': 115,
 'tv': 369,
 'shows': 637,
 'newark': 38,
 'liberty': 52,
 'airport': 465,
 'terminal': 92,
 'one': 4130,
 '$': 2722,
 '2.7': 10,
 'billion': 283,
 "'transformative": 2,
 "'": 9486,
 'project': 352,
 'which': 1682,
 'bi-state': 8,
 'agency': 266,
 'single-largest': 1,
 'investment': 67,
 'state': 3277,
 'projected': 29,
 'completed': 97,
 '2022': 21,
 '2021': 107,
 'gmc': 16,
 'yukon': 14,
 'denali': 1,
 'motor1.com': 5,
 'sent': 266,
 'us': 1189,
 'sure': 260,
 'looks': 388,
 'legit': 19,
 'john': 653,
 'dorsey': 24,
 'admits': 62,
 'talks': 277,
 'washington': 1091,
 'takes': 378,
 'two': 3198,
 'tango': 7,
 'team': 1850,
 'officials': 1430,
 'emphatically': 5,
 'denied': 83,
 'rumor': 24,
 'trent': 111,
 'williams': 341,
 'trade': 785,
 'cleveland': 610,
 'report': 1403,
 'tuesday': 1655,
 'later': 465,
 'browns': 638,
 'general': 440,
 'manager': 471,
 'admitted': 77,
 'publicly': 84,
 'he': 6767,
 'talked': 76,
 'president': 2551,
 'bruce': 99,
 'allen': 170,
 "'ve": 757,
 'had': 2766,
 'few': 603,
 'conversations': 20,
 'via': 260,
 'mary': 82,
 'kay': 41,
 'cabot': 13,
 'plain': 28,
 'dealer': 25,
 '[': 339,
 ']': 331,
 'elijah': 170,
 'cummings': 232,
 'lie': 32,
 'capitol': 115,
 'thursday': 2134,
 'democrat': 119,
 'whose': 198,
 'district': 567,
 'included': 118,
 'sections': 10,
 'baltimore': 400,
 'last': 2111,
 'age': 266,
 '68': 47,
 'complications': 25,
 'related': 274,
 'longstanding': 24,
 'issues': 295,
 'finally': 303,
 'fight': 528,
 'seal': 42,
 'deal': 613,
 'university': 551,
 'park': 852,
 'pa.': 48,
 '--': 1991,
 'fans': 735,
 'beaver': 26,
 'stadium': 401,
 'saturday': 1454,
 'night': 2370,
 'likely': 408,
 'not': 3777,
 'know': 1172,
 'mere': 22,
 'feet': 222,
 'celebration': 105,
 'inside': 778,
 'small': 423,
 'room': 362,
 'under': 799,
 'bleachers': 5,
 'sat': 88,
 'khaleke': 1,
 'hudson': 82,
 'shea': 25,
 'patterson': 46,
 'addressing': 19,
 'reporters': 138,
 '28-21': 14,
 'loss': 910,
 'no': 2674,
 '7': 767,
 'penn': 208,
 'both': 679,
 'were': 3699,
 'still': 1184,
 'uniforms': 14,
 '...': 9620,
 '17': 304,
 'abandoned': 115,
 'theme': 72,
 'parks': 106,
 'explore': 58,
 'thrills': 10,
 'chills': 12,
 'nostalgia': 9,
 'disney': 160,
 'six': 491,
 'flags': 43,
 'flintstones': 2,
 'amusement': 28,
 'succumbed': 8,
 'disasters': 11,
 'press': 285,
 'shifting': 18,
 'entertainment': 73,
 'markets': 60,
 'adventurous': 9,
 'whether': 482,
 'california': 1264,
 'florida': 1055,
 'ohio': 630,
 'can': 2559,
 'fascinating': 30,
 'places': 244,
 'if': 1932,
 'dare': 22,
 'dog': 567,
 'dies': 365,
 'protecting': 44,
 'children': 565,
 'deadly': 311,
 'snake': 37,
 'richardson': 37,
 'family': 1337,
 'shares': 199,
 'video': 1137,
 'photos': 675,
 'puppy': 82,
 'zeus': 1,
 'venomous': 15,
 'coral': 40,
 'ford': 298,
 'bronco': 24,
 'test': 304,
 'mule': 9,
 'spotted': 141,
 'flexing': 2,
 'muscles': 14,
 'australia': 87,
 'offered': 124,
 'land': 215,
 'however': 225,
 'trustbusters': 1,
 'bring': 381,
 'microsoft': 244,
 'lessons': 37,
 'big': 1189,
 'tech': 198,
 'doj': 27,
 'makan': 1,
 'delrahim': 1,
 'ftc': 15,
 'joe': 690,
 'simons': 8,
 'agreed': 108,
 'divide': 19,
 'google': 235,
 'facebook': 375,
 'amazon': 290,
 'between': 862,
 'pga': 139,
 'tour': 359,
 'winners': 172,
 'gallery': 40,
 'recent': 498,
 'nashville': 240,
 'restaurants': 297,
 'ms.': 16,
 'cheap': 92,
 'rounds': 61,
 'lunch': 99,
 'deals': 210,
 '10': 1118,
 'less': 382,
 'restaurant': 629,
 'food': 682,
 'prices': 160,
 'most': 2005,
 'free': 599,
 'parking': 219,
 'things': 914,
 'knew': 197,
 'about': 4156,
 'owls': 16,
 'huge': 235,
 'eyes': 156,
 'sharp': 43,
 'talons': 1,
 'swiveling': 1,
 'heads': 87,
 'are': 8034,
 'mysterious': 54,
 'creatures': 18,
 '25': 546,
 'last-minute': 33,
 'ideas': 168,
 'will': 5864,
 'absolutely': 61,
 'save': 269,
 'holiday': 535,
 'these': 1759,
 'excited': 70,
 '(': 3927,
 'sometimes-stressful': 1,
 ')': 3890,
 'holidays': 114,
 'taste': 228,
 'rutgers': 53,
 'throws': 78,
 '1': 1078,
 'yard': 100,
 '35-0': 5,
 'indiana': 243,
 'outfit': 39,
 'worn': 19,
 'see': 1209,
 'style': 113,
 'choices': 40,
 'glam': 5,
 'gowns': 12,
 'coat': 29,
 'dresses': 26,
 're-wears': 2,
 'tiaras': 5,
 'hats': 14,
 'parties': 80,
 'weekend': 786,
 'oct.': 730,
 '24-27': 1,
 'now': 2063,
 'before': 1758,
 'biggest': 431,
 'coming': 631,
 'including': 697,
 'entourage': 2,
 'star': 719,
 'jeremy': 50,
 'piven': 2,
 'hosting': 84,
 'party': 469,
 'godfrey': 8,
 'hotel': 310,
 'thriller': 25,
 'mob': 12,
 'breaking': 157,
 'ferg': 3,
 'many': 923,
 'events': 224,
 'find': 833,
 'also': 1060,
 'pumpkin': 137,
 'patches': 15,
 'tamapbay.com/things-to-do': 1,
 'pinellasstadium': 1,
 'screams': 11,
 'simple': 156,
 'changes': 252,
 'helped': 217,
 'lose': 274,
 '75': 88,
 '9': 538,
 'months': 582,
 'part': 746,
 'took': 767,
 'control': 336,
 'un': 47,
 'climate': 304,
 'fund': 85,
 'struggles': 82,
 'meet': 257,
 'goal': 198,
 'rich': 92,
 'countries': 117,
 'gathered': 80,
 'france': 71,
 'discuss': 197,
 'replenishing': 1,
 'international': 377,
 'meant': 82,
 'poor': 103,
 'nations': 52,
 'tackle': 163,
 'change': 588,
 'falling': 185,
 'short': 204,
 'targets': 58,
 'because': 790,
 'u.s.': 1827,
 'stopped': 181,
 'contributing': 10,
 'ps4': 4,
 'great': 582,
 '4': 781,
 'available': 257,
 'today': 770,
 'sony': 28,
 'awesome': 44,
 'exclusives': 2,
 'third-party': 22,
 'must': 260,
 'plays': 175,
 '23': 202,
 'reboots': 5,
 'time': 2505,
 'class': 258,
 'show': 900,
 'revivals': 2,
 'outshine': 2,
 'competition': 71,
 'steal': 56,
 'spotlight': 53,
 'own': 552,
 'originals': 6,
 'netflix': 119,
 'hackers': 38,
 'why': 1202,
 'passwords': 11,
 'accounts': 59,
 'really': 472,
 'offer': 252,
 'selling': 141,
 'potential': 316,
 'stolen': 204,
 'tempt': 1,
 'subset': 1,
 'crossfit': 9,
 'injuries': 475,
 'affect': 65,
 'shoulder': 116,
 'question': 215,
 'does': 925,
 'risk': 241,
 'injury': 913,
 'answer': 156,
 'popularity': 21,
 'grown': 62,
 'immensely': 1,
 'while': 1649,
 'participation': 28,
 'benefits': 102,
 'positive': 121,
 'athletes': 75,
 'place': 668,
 'complex': 141,
 'joint': 86,
 'different': 362,
 'bony': 1,
 'articulations': 1,
 'soft': 29,
 'tissue': 10,
 'structures': 50,
 'interact': 8,
 'together': 317,
 '20': 610,
 'must-try': 2,
 'gravy': 17,
 'recipes': 356,
 'thanksgiving': 483,
 'feast': 31,
 'turkey': 457,
 'just': 2582,
 'same': 435,
 'little': 647,
 'snow': 415,
 'causes': 89,
 'mess': 57,
 'than': 2297,
 '100': 374,
 'crashes': 224,
 'minnesota': 415,
 'roads': 223,
 'snowfall': 50,
 'one-tenth': 2,
 'inch': 40,
 'share': 244,
 'damaged': 117,
 'cars': 359,
 'rattled': 16,
 'drivers': 317,
 'early': 1116,
 '118': 6,
 'reported': 741,
 '6': 743,
 'a.m.': 806,
 '11:30': 30,
 'patrol': 281,
 'another': 1120,
 '22': 207,
 'vehicles': 220,
 'spun': 9,
 'slid': 18,
 'off': 2056,
 'slick': 16,
 'spokesman': 90,
 'gordon': 246,
 'shank': 1,
 'weather-related': 1,
 'fatalities': 26,
 'although': 99,
 '18': 300,
 'extinction': 19,
 'rebellion': 7,
 'court': 777,
 'challenge': 183,
 'london': 192,
 'police': 4617,
 'blanket': 17,
 'ban': 176,
 'activist': 79,
 '10-day': 6,
 'demonstrations': 17,
 'across': 782,
 'ruled': 153,
 'unlawful': 22,
 'la': 225,
 'rivalry': 83,
 'meaning': 38,
 'lakers': 257,
 'clippers': 152,
 'hunt': 105,
 'championship': 341,
 'finals': 81,
 'mvp': 173,
 'kawhi': 68,
 'leonard': 130,
 'say': 1862,
 'used': 499,
 'taunts': 12,
 'booing': 6,
 'religion': 17,
 'tinseltown': 1,
 '400': 98,
 'jbl': 3,
 'link': 49,
 '500': 121,
 'smart': 116,
 'speaker': 135,
 'sale': 259,
 '150': 66,
 'equipped': 11,
 'bluetooth': 5,
 'wi-fi': 12,
 'chromecast': 1,
 'assistant': 178,
 'powerful': 154,
 'enough': 311,
 'largest': 246,
 'rooms': 47,
 'olympian': 7,
 'shawn': 27,
 'johnson': 462,
 'pregnancy': 32,
 'news': 1778,
 'husband': 258,
 'andrew': 142,
 'east': 622,
 'taking': 449,
 'viewers': 34,
 'highs': 46,
 'lows': 31,
 'vlog': 1,
 'captured': 170,
 'hearts': 25,
 'thousands': 442,
 'online': 253,
 'probably': 231,
 'buying': 114,
 'costco': 84,
 'bigger': 99,
 'always': 341,
 'better': 525,
 'items': 196,
 'sell': 128,
 'cheaper': 26,
 'warehouse': 42,
 'power': 898,
 'ranking': 110,
 'chance': 305,
 'becoming': 132,
 '2020': 1142,
 'democratic': 593,
 'presidential': 464,
 'nominee': 48,
 'combined': 55,
 'insider': 109,
 'polling': 39,
 'results': 276,
 'morning': 1560,
 'consult': 9,
 'daily': 209,
 'survey': 123,
 'create': 138,
 'weekly': 89,
 'candidates': 245,
 'teach': 28,
 'kids': 385,
 'mindfulness': 11,
 'increased': 89,
 'important': 201,
 'history': 602,
 'november': 519,
 '2': 1206,
 'royal': 222,
 'balmoral': 1,
 'castle': 62,
 'favorite': 362,
 'visiting': 103,
 'scottish': 6,
 'estate': 214,
 'century': 115,
 'cranberry': 23,
 'sauce': 65,
 "'ll": 614,
 'want': 726,
 'store-bought': 8,
 'version': 86,
 'again': 684,
 'phil': 51,
 'fulmer': 5,
 'blasts': 51,
 'ncaa': 146,
 'key': 348,
 'tennessee': 290,
 'freshman': 124,
 'eligibility': 27,
 'uros': 3,
 'plavsic': 4,
 'redshirt': 18,
 'transferred': 15,
 'arizona': 444,
 'coaching': 129,
 'allowed': 150,
 'suit': 75,
 'vols': 15,
 'season': 2592,
 'george': 201,
 'life': 931,
 'future': 365,
 'king': 261,
 'england': 509,
 'third': 513,
 'throne': 10,
 'behind': 526,
 'father': 314,
 'real': 476,
 'jeopardy': 33,
 'questions': 359,
 'culling': 1,
 'data': 281,
 'straight': 261,
 '!': 1527,
 'archives': 11,
 'stacker': 47,
 'provide': 152,
 'clue': 9,
 'then': 720,
 'present': 67,
 'form': 104,
 'following': 741,
 'slide': 36,
 'randall': 22,
 'rant': 26,
 'tiger': 190,
 'goat': 18,
 'majors': 19,
 'may': 1300,
 'understand': 80,
 'woods': 246,
 'gone': 176,
 'golf': 220,
 'course': 211,
 'desirable': 2,
 'check': 494,
 'where': 1246,
 'residents': 478,
 'would': 1644,
 '40+': 6,
 'stuffed': 27,
 'pasta': 85,
 'stuff': 77,
 'yourself': 94,
 "'bachelor": 3,
 'amanda': 16,
 'stanton': 28,
 'dating': 89,
 "'rich": 6,
 'beverly': 39,
 'hills': 137,
 'brendan': 27,
 'fitzpatrick': 46,
 'mom': 314,
 'opened': 327,
 'et': 82,
 'august': 155,
 "'m": 435,
 'sorry': 46,
 'please': 66,
 'purse': 19,
 'welcome': 122,
 'house': 1920,
 'bag': 82,
 'right': 890,
 'corgis': 2,
 '-': 1059,
 'beloved': 109,
 'pets': 76,
 'much': 882,
 'loved': 103,
 'toyota': 85,
 'supra': 25,
 ...}